---
import Layout from '../layouts/main.astro'
import { getBlogs } from '../utils/notion_client'
import {parsePageProperties} from '../utils/property_parser'
const blogs = await getBlogs()
---
	<Layout>
		<h1 class="text-2xl font-bold my-5">Astro Blogs</h1>
		<div class="flex flex-wrap justify-start items-center">

		{
			blogs.map(blog => {
				const { name, featuredImage, tags } = parsePageProperties(blog.properties)
				return <div class="w-40 m-5 rounded-lg bg-gray-300 h-44">
					<img src={featuredImage} class="h-20 bg-cover w-full" />
					<a href={`/blog/${blog.id}`}>{name}</a>
					<div class="self-end pt-2">
					{
						tags.map((tag: string) => <span class="bg-blue-400 p-1 rounded-lg m-1 text-sm">{tag}</span>)
					}
					</div>
				</div>
			})
		}
		</div>
	</Layout>

